@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.top {
  background-color: #f6f2f2;
  padding: 103px 0 111px 0;
}

.menu {
  position: fixed;
  top: 29px;
  width: 1249px;
  height: 89px;
  background-color: #000000;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu._sticky {
  top: 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  padding: 0 28px;
  font-size: 14px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.035em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__link:hover {
  cursor: pointer;
}
.menu__link:hover a {
  text-decoration: underline;
}
.menu__link._active {
  background-color: #ff3f40;
}
.menu__link a {
  color: #e0e0e0;
}

.top__body {
  margin-top: 103px;
}

.top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__title {
  font-family: "Open Sans";
  font-size: 60px;
  line-height: 72px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
}

.top__text {
  margin-top: 14px;
}

.top__button {
  margin-top: 50px;
  border: 2px solid #ff2d2d;
}

.top__item-second {
  margin-left: 112px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 551px;
          flex: 0 0 551px;
}

.top__video {
  margin-right: 24px;
  max-width: 551px;
  max-height: 356px;
}

.services {
  padding: 114px 0 108px 0;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__text {
  margin-top: 30px;
}

.services__button {
  margin-top: 50px;
  color: #ff2d2d;
  background: #ffffff;
  border: 2px solid #ff0000;
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.services__item:first-child {
  padding-right: 127px;
}
.services__item .item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services__item .item__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.services__item .item__element:nth-child(3), .services__item .item__element:nth-child(4) {
  margin-top: 44px;
}
.services__item .item__element:nth-child(1), .services__item .item__element:nth-child(3) {
  padding-right: 25px;
}
.services__item .item__element:nth-child(2), .services__item .item__element:nth-child(4) {
  padding-left: 25px;
}
.services__item .item__title {
  margin: 22px 0 8px 0;
  opacity: 0.7;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.services__more {
  position: fixed;
  background-color: #f6f2f2;
  width: 80%;
  height: 80%;
  left: 100%;
  top: 10%;
  border: 2px solid black;
  z-index: 2;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.services__more::-webkit-scrollbar {
  width: 12px;
}
.services__more::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.services__more::-webkit-scrollbar-thumb {
  background-color: #f5e3e3;
  border-radius: 16px;
  border: 1px solid #000000;
}

.services__more._active {
  left: 10%;
}

.services__close {
  position: sticky;
  width: 64px;
  top: 0;
  margin-left: 94%;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 2px;
  padding: 4px;
  z-index: 3;
}

.services__line {
  width: 1249px;
  height: 2px;
  background-color: #ececec;
  margin-top: 108px;
}

.item__img {
  width: 44px;
  height: 41px;
}

.item__img_settings {
  background: url("/img/icons/settings.png") no-repeat;
}

.item__img_pencil {
  background: url("/img/icons/pencil.png") no-repeat;
}

.item__img_diamond {
  background: url("/img/icons/diamond.png") no-repeat;
}

.item__img_truck {
  background: url("/img/icons/truck.png") no-repeat;
}

.feature__title {
  text-align: center;
}

.feature__text {
  padding: 8px 0 24px 0;
  width: 504px;
  text-align: center;
  margin: 0 auto;
}

.feature__line {
  margin: 0 auto;
}

.portfolio__menu {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__option {
  margin: 0 28.5px 0 28.5px;
  opacity: 0.7;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.portfolio__option:first-child {
  margin-left: 0;
}
.portfolio__option:last-child {
  margin-right: 0;
}
.portfolio__option._active {
  color: #ff2d2d;
}

.portfolio__row {
  margin-top: 60px;
}

.portfolio__img {
  height: 291px;
  width: 298px;
  margin: 5.3px;
  display: none;
}
.portfolio__img._active {
  display: inline-block;
}

.team {
  padding-top: 110px;
}

.team__text {
  max-width: 446px;
  margin-top: 20px;
}

.team__line {
  margin-top: 23px;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 69px;
}

.team__avatar {
  max-width: 321px;
  max-height: 458px;
  display: none;
}
.team__avatar._selected {
  display: block;
}

.team__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 74px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: none;
}
.details._selected {
  display: block;
}

.details__title {
  opacity: 0.8;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.details__text {
  margin-top: 15px;
}

.details__soc {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details__link {
  margin-right: 29px;
  opacity: 0.8;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  letter-spacing: 0.05em;
}
.details__link a {
  color: #000000;
}
.details__link:last-child {
  margin-right: 0;
}
.details__link:hover {
  text-decoration: underline;
}

.people__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people__preview {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.people__preview:hover .people__name {
  bottom: 0;
}
.people__preview img {
  max-width: 197px;
  max-height: 214px;
  -o-object-fit: cover;
     object-fit: cover;
}
.people__preview._selected {
  display: none;
}

.people__name {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -37px;
  left: 0;
  height: 37px;
  opacity: 0.5;
  background-color: #000000;
  line-height: 2.2;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.subscribe {
  margin-top: 110px;
  padding: 140px 0;
  background-color: #f5f0dd;
}

.subscribe__title {
  text-align: center;
}

.subscribe__text {
  margin-top: 12px;
  text-align: center;
}

.subscribe__form {
  margin-top: 50px;
  text-align: center;
}

.subscribe__input {
  width: 521px;
  height: 79px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #000000;
  padding-left: 36px;
  border: 0.2px solid #2c2c2c;
  border-radius: 5px;
}
.subscribe__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.subscribe__input:focus::-moz-placeholder {
  color: transparent;
}
.subscribe__input:focus:-ms-input-placeholder {
  color: transparent;
}
.subscribe__input:focus::-ms-input-placeholder {
  color: transparent;
}
.subscribe__input:focus::placeholder {
  color: transparent;
}
.subscribe__input::-webkit-input-placeholder {
  opacity: 0.7;
}
.subscribe__input::-moz-placeholder {
  opacity: 0.7;
}
.subscribe__input:-ms-input-placeholder {
  opacity: 0.7;
}
.subscribe__input::-ms-input-placeholder {
  opacity: 0.7;
}
.subscribe__input::placeholder {
  opacity: 0.7;
}

.subscribe__button {
  width: 214px;
  height: 79px;
  text-transform: uppercase;
  margin-left: 22px;
}

.contact {
  padding: 90px 0 106px 0;
}

.contact__text {
  margin-top: 30px;
}

.contact__line {
  margin-top: 50px;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

.contact__name {
  margin-right: 48px;
}

.contact__name, .contact__email, .contact__message {
  background-color: #e6e6e6;
  font-size: 16px;
  border-radius: 9px;
  padding: 10px;
}
.contact__name:focus::-webkit-input-placeholder, .contact__email:focus::-webkit-input-placeholder, .contact__message:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact__name:focus::-moz-placeholder, .contact__email:focus::-moz-placeholder, .contact__message:focus::-moz-placeholder {
  color: transparent;
}
.contact__name:focus:-ms-input-placeholder, .contact__email:focus:-ms-input-placeholder, .contact__message:focus:-ms-input-placeholder {
  color: transparent;
}
.contact__name:focus::-ms-input-placeholder, .contact__email:focus::-ms-input-placeholder, .contact__message:focus::-ms-input-placeholder {
  color: transparent;
}
.contact__name:focus::placeholder, .contact__email:focus::placeholder, .contact__message:focus::placeholder {
  color: transparent;
}

.contact__name, .contact__email {
  width: 339px;
  height: 69px;
  text-align: center;
}
.contact__name::-webkit-input-placeholder, .contact__email::-webkit-input-placeholder {
  text-align: start;
  padding: 0 48px;
}
.contact__name::-moz-placeholder, .contact__email::-moz-placeholder {
  text-align: start;
  padding: 0 48px;
}
.contact__name:-ms-input-placeholder, .contact__email:-ms-input-placeholder {
  text-align: start;
  padding: 0 48px;
}
.contact__name::-ms-input-placeholder, .contact__email::-ms-input-placeholder {
  text-align: start;
  padding: 0 48px;
}
.contact__name::placeholder, .contact__email::placeholder {
  text-align: start;
  padding: 0 48px;
}

.contact__message {
  display: block;
  margin-top: 46px;
  width: 731px;
  height: 249px;
  resize: none;
  line-height: 28px;
  cursor: auto;
}
.contact__message::-webkit-input-placeholder {
  padding: 35px 48px;
}
.contact__message::-moz-placeholder {
  padding: 35px 48px;
}
.contact__message:-ms-input-placeholder {
  padding: 35px 48px;
}
.contact__message::-ms-input-placeholder {
  padding: 35px 48px;
}
.contact__message::placeholder {
  padding: 35px 48px;
}
.contact__message::-webkit-scrollbar {
  width: 12px;
}
.contact__message::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.contact__message::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 16px;
  border: 1px solid #000000;
}

.contact__button {
  margin-top: 45px;
  width: 728px;
  height: 72px;
}

.contact__info {
  margin-left: 107px;
  min-height: 481px;
  background-color: #2d2d2d;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.info {
  padding: 145px 0 24px 79px;
  color: #ffffff;
}

.info__container {
  max-width: 320px;
  font-style: normal;
}

.info__title {
  opacity: 0.8;
  font-size: 18px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.info__text {
  margin-top: 16px;
}

.footer {
  background-color: #313030;
  padding: 47px 0 31px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  color: #b8b8b8;
  padding-right: 24px;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  margin-right: 18px;
}
.footer__link:last-child {
  margin-right: 0;
}

.footer__link_item {
  display: block;
  width: 33px;
  height: 33px;
}

.footer__link_item_twitter {
  background-image: url("../img/soc/twitter.png");
}

.footer__link_item_linkedin {
  background-image: url("../img/soc/linked_in.png");
}

.footer__link_item_google {
  background-image: url("../img/soc/google.png");
}

.footer__link_item_facebook {
  background-image: url("../img/soc/facebook.png");
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  color: #000000;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: 1265px;
  padding: 0 8px;
  margin: 0 auto;
}

.text {
  opacity: 0.7;
  line-height: 28px;
}

.title {
  opacity: 0.8;
  font-size: 42px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.button {
  font-size: 18.2px;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0.025em;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button.button_type-1 {
  width: 227px;
  height: 55px;
}
.button.button_type-1:hover {
  border: 2px solid #000000;
  color: #000000;
}
.button.button_type-2 {
  color: #ffffff;
  background-color: #ff2d2d;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.line {
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
}